/* pop-up -----------------------------------------------------*/
.fade-enter-active,
.fade-leave-active {
    transition: opacity .25s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.pop-up-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pop-up-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(2px);
}

.pop-up-content {
    background-color: rgba(0, 0, 0, 0.561);
    position: relative;
    width: 450px;
    height: 80%;
    color: white;

    display: flex;
    flex-direction: column;
}

@media (max-width: 1300px) {
    .pop-up-content {
        width: 350px;
        height: 90%;
    }
}


@media (max-width: 450px) {
    .pop-up-content {
        width: 100%;
        height: 100%;
    }
}

.pop-up-close {
    position: absolute;
    top: -25px;
    right: -25px;
    height: 50px;
    width: 50px;
    background-color: rgba(211, 211, 211, 0.1);
    border-radius: 50%;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s;

    z-index: 5;
}

.pop-up-close:hover {
    background-color: rgba(211, 211, 211, 0.3);
}

.pop-up-close::before {
    font-size: 4rem;
    color: rgb(144, 1, 1);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.pop-up-close:hover::before {
    font-size: 4rem;
    color: rgb(116, 0, 0);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

@media (max-width: 450px) {
    .pop-up-close {
        position: absolute;
        top: 0px;
        right: 0px;
    }
}

.pop-up-image {
    flex: 2;
    object-fit: cover;
    flex-basis: fit-content;
}

.pop-up-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.pop-up-image iframe {
    width: 100%;
    height: 100%;
    margin-bottom: 5%;
}

.pop-up-text {
    padding: 15px;
    flex: 2 0 0;
    overflow: overlay;
}

.pop-up-header-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: 20px;
}

.pop-up-footer {
    flex: 0.5;
    /* background-color: darkviolet; */
    border-top: 1px solid rgba(169, 169, 169, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.pop-up-footer a {
    background-color: rgba(211, 211, 211, 0.1);
    border-radius: 50%;
    padding: 10px;
    transition: all 0.2s;
}

.pop-up-footer a:hover {
    background-color: rgba(211, 211, 211, 0.3);
    border-radius: 50%;
    padding: 10px;
}

.pop-up-footer a:before {
    font-size: 2em;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1300px) {
    .pop-up-footer a:before {
        font-size: 1.2em;
    }
}

.swiper-container-pop-up {
    height: 100%
}

/* scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.25);
}

::-webkit-scrollbar-thumb {
    background: rgb(54, 54, 54);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(44, 44, 44);
}


/* other */
.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    /* background: rgba(0, 0, 0, 0.2); */
    background: rgba(255, 255, 255, 0.75);

    user-select: none;
    outline: none;
    margin: 2%
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}