html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    flex-direction: column;
    background-color: black;
}

h2,
h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
    line-height: 1.2;
    font-family: exocet;

    transition: all 0.5s
}

h2 {
    font-size: 30px
}

* {
    margin: 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* page -----------------------------------------------------*/
.main-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    transition: all 0.5s;
}

#bgvid {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    filter: brightness(0.4);

    transition: all 1s;
}

.swiper-container-main {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.swiper-wrapper-main {
    display: flex;
    align-items: center;
    /* justify-content: center; */

}

.swiper-slide-main {
    background-color: rgba(0, 0, 0, 0.671);
    height: 400px;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.5);
}

@media (max-width: 450px) {
    .swiper-slide-main {
        width: 100%;
    }
}



.swiper-slide-main::before {
    content: " ";
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: black;
    pointer-events: none;
}

.swiper-clickable {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100px;
    width: 100px;
    border-radius: 20px;
    background-color: red;
    position: relative;

    background-repeat: none;
    background-size: cover;
    background-position: center;

    filter: grayscale(1);
    transition: all 0.5s;

    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.25);
    border-left: 1px solid rgba(255, 255, 255, 0.25);
}

.swiper-clickable h2 {
    position: absolute;
    width: 300%;
    bottom: 100%;
    text-align: center;
}

.swiper-clickable h3 {
    position: absolute;
    width: 300%;
    top: 105%;
    text-align: center;
}


.swiper-clickable:hover {
    height: 125px;
    width: 125px;
    filter: grayscale(0);
}

.swiper-clickable:hover h2 {
    font-size: 40px;
}

.swiper-clickable:hover h3 {
    font-size: 25px;
}

/* .swiper-clickable:hover h2 {
    margin-bottom: 100px;
}

.swiper-clickable:hover h3 {
    margin-top: 50px;
} */

/* about */
.about{
    z-index: 10;
    cursor: pointer;
    position: absolute;
    top:0px;
    right:0px;
    margin: 40px;
    padding:10px;
    background-color: rgba(255, 255, 255, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;

    transition: all 0.6s;
}
.about:hover{
    background-color: rgba(255, 255, 255, 0.5);
}
.about a::before{
    font-size: 2.3rem;
}
.refs-container .refs{
    padding:0px;
    margin: 20px;
    margin-top: 40px;
    font-size: larger;
    font-weight:bold;
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    overflow: overlay;
}
.refs div{
    margin-top:10px;
}
ul{
    padding:0px;
}
a, a:visited, a:hover, a:active {
    color: inherit;
  }


/* lateral buttons --------------------------------------------*/
.swiper-button-next,
.swiper-button-prev {
    color: rgb(144, 1, 1);
    outline: none;
    border: none;
    appearance: none;
}

.btn-right {
    right: 0px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.btn-left {
    left: 0px;
    text-shadow: -1px 1px rgba(0, 0, 0, 0.5);
}

.swiper-button-next::after,
.swiper-button-prev::after {
    transition: all 0.5s;
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
    font-size: 60px;
}